<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqK5V5iNt93vIF0C1iF9LCw7L8GJ6Z0I5Lk5/6u5Ew5fUc5t3hndOf0z6XAnM" crossorigin="anonymous"></script>
    <p>
        © 2025 UnlimiTrade | <a href="/about">About</a> | <a href="/terms">Terms</a> | <a href="/privacy">Privacy</a>
    </p>
</footer>
</body>
</html>
