<style>
    body {
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        font-family: Arial, sans-serif;
        color: white;
    }
</style>
<h1>
    Logged out successfully
</h1> 